*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width:100%;
}

body{
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(https://bit.ly/2FwISzd) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:white;
    padding:5%;
}


html, body{
    height:100%;
    margin:0;
}

main {
    height:100%;
}

.quizTitle {
    color:white;
}

h1 {
    display:inline-block;
    width:100%;
}

ul {
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}


p {
    font-size: 6vw;
}

li{
    color:white;
    font-size: 5vw;
    display: inline-block;
}

.initialStart {
    padding-top:40%;
    text-align: center;
}
.questionFormSection {
    justify-content: center;
}

.questionForm{
     background: rgba(63, 99, 153, 0.5);
     margin-left:auto;
     margin-right:auto;
     display: none;
     justify-content: space-evenly;
     flex-direction: column;
     padding-left:4%;
     padding-right:4%;
}

legend {
    display: none;
}

.flagBox {
    background: no-repeat center center fixed;
    min-width: 100px;
    min-height: 65px;
    max-width: 150px;
    max-height: 100px;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
}


fieldset {
    border: 0px;
}

label {
    display:block;
} 

label.questionAsked {
    font-size: 5.8vw;
    display:block;
    padding-bottom: 7%;
}

.questionBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin-top:20%;
    padding-bottom: 5%;
}

.questionForm > image {
    width: 100%;
    height: auto;
}

.option {
    width:20px;
    height:40px;
    display:inline-block; 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; 
    margin-bottom: 0px;
}

fieldset > label {
    width:100%;
}

fieldset > input {
    display: inline-block;
    margin-top:0px;
    vertical-align:middle;
}

#choice1, #choice2, #choice3, #choice4 {
    display: inline-block;
    margin-top: 0px;
    font-size:6.5vw;
    margin-left:10px;
}

.submitAnswer {
    text-align: center;
    font-size: 1.4em;
    width : 170px;
    height:auto;
    margin-left: 25px;
    margin-right: 25px;
}

.response {
    text-align: center;  
    background: rgba(63, 99, 153, 0.5);
}

button {
    font-size: 4vw;
    padding: 3px;
    margin:2%;
}

h2 {
    font-size: 6vw;
}

label > .questionAsked {
    height:40px;
    text-align: center;
}


.startTest {
    margin-bottom:5%;
}


h1, li, h2, h3 {
    color: white;
    font-size: 20px;
    text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
}

@media only screen and (min-width: 768px){
    
    .initialStart {
    padding-top:20%;
    text-align: center;
    }
}

@media only screen and (min-width: 1020px){
    body {
        padding-left: 20%;
        padding-right: 20%;
    }

    h1 {
        width:100%;
    }

    li {
        font-size: 2vw;
        display: block;
    }

    header {
        margin-top: 0%;
        height:11.5%;
        margin-bottom:5%;
    }

    .quizTitle {
        font-size:2.7vw;
    }

    h2 {
        font-size: 2.6vw;
    }
    
    h3 {
        font-size: 2.0vw;
    }

    button {
        font-size: 2vw;
    }

    label {
        font-size:2.7vw;
    }

    #choice1, #choice2, #choice3, #choice4 {
        font-size:2.7vw;
    } 

    p {
        font-size: 2.7vw;
    }

    label.questionAsked {
        font-size: 2.7vw;
        text-align: center;
    }

    .nextButton {
        font-size: 1vw;
    }

    .questionBox {
        margin-top: 0;
    }

    .response {
        font-size: 2vw;
    }

    p {
        font-size:2vw;
    }

    button.finalButton {
        font-size:1vw;
    }
}

